.btn-primary {
  background-color: transparent;
  border-width: 5px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -o-border-image:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  border-image:
    linear-gradient(to right, rgb(228,0,121), rgb(139, 31, 130) 100%);
    border-image-slice: 1;
  color: rgb(228, 0, 121);
}

.btn-primary:hover {
  background: rgba(248,80,50,1);
  border-width: 5px;
  border-style: solid;
  background:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  background:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    linear-gradient(to right, rgb(228,0,121), rgb(139, 31, 130) 100%);
    border-image-slice: 1;
  color: white;
}

#banner-wrapper a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#banner-wrapper h2 {
  font-family: 'Arvo', sans-serif;
}

#banner {
  padding: 0px;
}

.jumbotron {
  background-color: transparent;
  border-width: 5px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -o-border-image:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  border-image:
    linear-gradient(to right, rgb(228,0,121), rgb(139, 31, 130) 100%);
    border-image-slice: 1;
  color: rgb(228, 0, 121);
  margin: 0px;
}

.customHFOUR p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#footer {
  background: rgba(248,80,50,1);
  background:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  background:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  background:
    linear-gradient(to right, rgb(228,0,121), rgb(139, 31, 130) 100%);
    border-image-slice: 1;
  margin: 0px;
  width: 100%;
  padding: 5em;
  color: white;
}

#footer h2 {
  color: white;
}

#footer p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
}

#footer a {
  border: 2px solid white;
  padding: 5px;
}

#footer a:hover {
  text-decoration: none;
  color: rgb(228, 0, 121);
  background-color: white;
}

/*.table {
  border-width: 5px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -o-border-image:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  border-image:
    linear-gradient(to right, rgb(228,0,121) 0%, rgb(139, 31, 130) 100%);
  border-image-slice: 1;
}*/



.table-striped {
  border: none;
}

.panel-default {
  border: none;
}

.table-striped th {
    background-color: rgb(139, 31, 130);
    color: white;
    font-weight: 700;
}

.table{
  max-width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-style: solid;
  border-spacing: 10px;
  border-width: 5px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(228,0,121)), to(rgb(139, 31, 130))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  -o-border-image:
    -o-linear-gradient(right, rgb(228,0,121), rgb(139, 31, 130)) 1 100%;
  border-image:
    linear-gradient(to right, rgb(228,0,121) 0%, rgb(139, 31, 130) 100%);
  border-image-slice: 1;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: 0px;
}

h2.major {
  font-size: 5em;
  margin-bottom: 0px;
  border: none;
  background: -webkit-linear-gradient(left, rgb(228,0,121), rgb(139, 31, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.box.highlight h2.major2, #about h2.major2 {
  font-size: 4em;
  margin-top: 0px;
  border: none;
  background: -webkit-linear-gradient(left, rgb(228,0,121), rgb(139, 31, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box.highlight h2.major {
  font-size: 4em;
  margin-bottom: 0px;
  border: none;
  background: -webkit-linear-gradient(left, rgb(228,0,121), rgb(139, 31, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#whatisamakeathon{
  padding-top: 20px; 
  padding-bottom: 20px;
}
